/*Colors
======================================*/
//Colors
$color-primary: #F9C4ACFF;
$color-secondary: #616161FF;

$color-grey: #7A7B7AFF;
$color-grey-light: #E4D8D6FF;
$color-grey-dark: #2F363E;
$color-white: #ffffff;
$color-black: #000000;
$color-green: rgb(0, 168, 87);
// $color-danger: #EEA8A6;

$color-text-base: $color-grey-dark;

$font-family: 'Open Sans', sans-serif;

$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 992px;
$width-x-desktop: 1200px;
$width-xx-desktop: 1400px;

$space-section-sm: 50px;
$space-section-lg: 150px;