.element {

    &__title {
        text-align: center;
        width: max-content;
        margin: 0 auto;
    }

    .col-12:nth-child(3) {
        display: none;
    }

    .col-12:last-child {
        display: none;
    }

    .container {
        margin-top: 100px;
    }
   
}

@media (min-width: $width-tablet ) {
    .element {
        .col-12:nth-child(3) {
            display: block;
        }
    }
}

@media (min-width: $width-desktop ) {
    .element {
        .col-12:last-child {
            display: block;
        }
    }
}