.footer {
    background-color: $color-primary;
    padding: 50px 0;
    margin-top: 50px;

        .footer-blocks h4 a {
        text-decoration: none;
        color: $color-black;
        font-size: 1.5rem;
    }

        .footer-blocks h4 {
        text-transform: uppercase;
        padding: 20px 0;
        font-weight: 700;

    }

        .footer-blocks a, span {
        text-decoration: none;
        color: $color-black;
        font-size: 1rem;
        padding: 10px 0;
    }

    span {
        font-size: 1rem;
    }

        .footer-blocks{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-socials {
        display: flex;
        justify-content: center;
    }

    .footer-social {
        width: 30px;
        height: 30px;
        margin: 10px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .social-facebook {
        background-image: url("/public/icons/icon-facebook.svg");
    }

    .social-instagram {
        background-image: url("/public/icons/icon-insta.svg");
    }

    .social-youtube {
        background-image: url("/public/icons/icon-youtube.svg");
    }
}

@media (min-width: $width-tablet ) {
    .footer {
        .row {
            align-items: flex-start;

        }

        .footer-bloks{
            text-align: start;
        }

        .footer-socials {
            justify-content: flex-start;
        }

    }
}