.review{
    &__inner{
        // background-color: red;
    }
    &__inner--none{
        display: none;
    }
    .col{
        height: 650px;
        padding:0 50px;
    }
    .col-none{
        display: none;
    }
    &__container{
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (min-width: $width-tablet ) {
    .review{
        &__inner--none{
            display: block;
        }
        .col-none{
            display: flex;
        }
        &__container{
            flex-direction: row;
            width: 100%;
        }
        
    }
}